<div class="card">
  <div class="header">
    <h1 *ngIf="recipe" class="title">{{recipe.name}}</h1>
  </div>
  <div class="content">
    <form *ngIf="recipe">

      <div class="form-group">
        <h3>{{recipe.category}}</h3>
      </div>

      <div class="form-group">
        <label>Recipe Nr. {{recipe.id}}</label>
        <br>
        <label>added by {{recipe.username.username}}</label>
      </div>

      <div class="form-group multi_lines_text" ng-bind-html=" recipe.ingredient | nl2br ">
        <h4>Ingredients</h4>
        {{recipe.ingredient}}
      </div>

      <div class="form-group multi_lines_text" ng-bind-html=" recipe.preparation | nl2br ">
        <h4>Preparation</h4>
        {{recipe.preparation}}
      </div>

      <div class="form-group multi_lines_text" ng-bind-html=" recipe.hints | nl2br ">
        <h4>Hints</h4>
        {{recipe.hint}}
      </div>

      <div>
      <a class="btn btn-default"
         (click)="pdfmake.open()">
        Open PDF
      </a>

      <a class="btn btn-default"
         (click)="pdfmake.print()">
        Print PDF
      </a>

      <a class="btn btn-default"
         (click)="pdfmake.download(recipe.name+'-RecipeBox')">
        Download PDF
      </a>
      </div>

      <a class="btn btn-default"
         [routerLink]="['../recipe']">
        Back
      </a>

    </form>
  </div>
</div>




