<div class="card" *ngIf="loginUser == null">
  <p class="content">Rezept erstellen nur als eingeloggter User möglich!</p>
</div>
<div class="card" *ngIf="loginUser">
  <div class="header">
    <h1 class="title">Rezept hinzufügen</h1>
  </div>

  <div class="content">
    <form  [formGroup]="recipeAddForm">

      <div class="form-group">
        <label>User: {{loginUser.username}}</label>
      </div>

      <div class="form-group">
        <input formControlName="username" class="form-control standard" value="{{loginUser.id}}" placeholder="{{loginUser.id}}" type="hidden">
      </div>

      <div class="form-group">
        <label>Name:</label>
        <recipe-validation-errors [errors]="form?.controls['name']?.errors"></recipe-validation-errors>
        <input formControlName="name" class="form-control standard" placeholder="Name"
               required minlength="3">
      </div>

      <div class="form-group">
        <label>Kategorie:</label>
        <recipe-validation-errors [errors]="form?.controls['category']?.errors"></recipe-validation-errors>
        <input formControlName="category" class="form-control standard" placeholder="Category"
               required [category]="['Süßes', 'Hauptgerichte', 'Saucen', 'Getränke', 'Andere']">
      </div>

      <div class="form-group">
        <label>Zutaten:</label>
        <recipe-validation-errors [errors]="form?.controls['ingredient']?.errors"></recipe-validation-errors>
        <textarea id="edit" formControlName="ingredient" class="form-control standard" placeholder="Ingredients"
                  required minlength="3" maxlength="256">
        </textarea>
      </div>

      <div class="form-group">
        <label>Zubereitung:</label>
        <recipe-validation-errors [errors]="form?.controls['ingredient']?.errors"></recipe-validation-errors>
        <textarea id="edit" formControlName="preparation" class="form-control standard" placeholder="Preparation"
                  required minlength="3" maxlength="256">
        </textarea>
      </div>

      <div class="form-group">
        <label>Hinweise:</label>
        <recipe-validation-errors [errors]="form?.controls['hints']?.errors"></recipe-validation-errors>
        <textarea id="edit" formControlName="hint" class="form-control standard" placeholder="Hints"
               required >
        </textarea>
      </div>

      <button class="btn btn-default"
              [disabled]="recipeAddForm.invalid"
              (click)="create()"
              [routerLink]="['../recipe/recipe-search']">
        Rezept erstellen
      </button>

    </form>

  </div>
</div>
