<div
  class="card"
  [ngStyle]="{'background-color': 'white' }">
  <div class="header">
    <h2 class="title">{{item.name}}</h2>
    <h4>{{item.category}}</h4>
  </div>
  <div class="content" *ngIf="item">
    <p>by {{item.username.username}}</p>

      <div align="right">
        <a class="btn btn-default"
           [routerLink]="['../recipe-show', item.id, { showDetails: true }]">
         Show
        </a>

       <a class="btn btn-default"
           [routerLink]="['../recipe-edit', item.id, { showDetails: true }]">
         Edit
       </a>
      </div>

  </div>
</div>

