<div
  class="card"
  [ngStyle]="{'background-color': 'white' }">
  <div class="header">
    <h2 class="title">{{item.name}}</h2>
    <h4>{{item.category}}</h4>
  </div>
  <div class="content" *ngIf="item">
    <p>von {{item.username.username}}</p>

      <div align="right">
        <div>
        <a class="btn btn-default"
           [routerLink]="['../recipe-show', item.id, { showDetails: true }]">
          Anzeigen
        </a>
        </div>

        <div >
          <div *ngIf="loginUser">
            <button class="btn btn-default" *ngIf="(loginUser.username == item.username.username) || (loginUserRole == 'A')"
                    [routerLink]="['../recipe-edit', item.id, { showDetails: true }]">
              Bearbeiten
            </button>

            <a class="btn btn-default" *ngIf="loginUserRole == 'A'"
               [routerLink]="['../recipe-delete', item.id]">
              Löschen
            </a>
          </div>
        </div>
      </div>
  </div>
</div>

