<div class="card">
  <div class="header">
    <h2 class="title">User Search</h2>
  </div>

  <div class="content">
    <form>
      <div class="form-group">
        <label>Vorname: </label>
        <input [(ngModel)] = 'firstname' name ='firstname' class='form-control'>
      </div>
      <div class="form-group">
        <label>Nachname: </label>
        <input [(ngModel)]="lastname" name="lastname" class='form-control'>
      </div>

      <div class="form-group">
        <button
          [disabled]="!firstname || !lastname"
          (click)="search()"
          class="btn btn-default">Suche</button>

        <button
          (click)="showAll()"
          class="btn btn-default">Alle User anzeigen</button>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <table class="table table-contensed" *ngIf="users.length > 0">
    <thead>
    <tr>
      <th>Id</th>
      <th>E-Mail</th>
      <th>Benutzername</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Rolle</th>
    </tr>
    </thead>
    <tr *ngFor="let u of users"
        [class.active]="u === selectedUser">
      <td>{{u.id}}</td>
      <td>{{u.email }}</td>
      <td>{{u.username }}</td>
      <td>{{u.firstname }}</td>
      <td>{{u.lastname }}</td>
      <td>{{u.email | role}}</td>
    </tr>
  </table>
</div>

<div class="card" *ngIf="users.length > 0">
  <table class="table table-contensed">
    <tr>
      <td>A</td>
      <td>Admin</td>
    </tr>
    <tr>
      <td>U</td>
      <td>User</td>
    </tr>
  </table>
</div>
