<script src="../../recipe/recipe-edit/recipe-edit.component.ts"></script>
<div class="card">
  <div class="header">
    <h2 class="title">User Search</h2>
  </div>

  <div class="content">
    <form>
      <div class="form-group">
        <label>Vorname: </label>
        <input [(ngModel)] = 'firstname' name ='firstname' class='form-control'>
      </div>
      <div class="form-group">
        <label>Nachname: </label>
        <input [(ngModel)]="lastname" name="lastname" class='form-control'>
      </div>

      <div class="form-group">
        <button
          [disabled]="!firstname || !lastname"
          (click)="search()"
          class="btn btn-default">Suche</button>

        <button
          (click)="showAll()"
          class="btn btn-default">Alle User anzeigen</button>
      </div>

      <div class="form-group" *ngIf="loginUser">
        <a class="btn btn-default"
           [routerLink]="['/user-add']">
            Neuer Benutzer
        </a>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <table class="table table-contensed" *ngIf="users.length > 0">
    <thead>
    <tr>
      <th>Id</th>
      <th>E-Mail</th>
      <th>Benutzername</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Rolle</th>
      <th *ngIf="loginUser"></th>
    </tr>
    </thead>
    <tr *ngFor="let u of users"
        [class.active]="u === selectedUser">
      <td>{{u.id}}</td>
      <td>{{u.email }}</td>
      <td>{{u.username }}</td>
      <td>{{u.firstname }}</td>
      <td>{{u.lastname }}</td>
      <td>{{u.email | role}}</td>
      <td *ngIf="loginUser">
        <a class="btn btn-default" *ngIf="(loginUser.id == u.id) || (loginUser.id != u.id && loginUserRole == 'A')"
           [routerLink]="['/user-edit', u.id]">
          Bearbeiten
        </a>
        <a class="btn btn-default" *ngIf="loginUserRole == 'A'"
           [routerLink]="['/user-delete', u.id]">
           Löschen
        </a>
        <a class="btn btn-default"
           [routerLink]="['/user-show', u.id]">
          Details
        </a>
      </td>
    </tr>
  </table>
</div>

<div class="card" *ngIf="users.length > 0">
  <div class="content">
    A...Admin <br />
    U...User
  </div>
</div>
