
<div class="card">
  <div class="header">
    <h2 class="title">Recipe Search</h2>
  </div>

  <div class="content">
    <form  #form="ngForm">
      <h5>Suche nach Name oder Kategorie</h5>

      <div class="form-group">
        <label>Name eingeben: </label>
        <input [(ngModel)]="name" name="name" class="form-control input">
      </div>

      <div class="form-group">
        <label>Kategorie eingeben: </label>
        <recipe-validation-errors [errors]="form?.controls['category']?.errors"></recipe-validation-errors>
        <input [(ngModel)]="category" name="category" class='form-control input'
               [category]="['Süßes', 'Hauptgerichte', 'Saucen', 'Getränke', 'Andere']">
      </div>

      <div class="form-group">
        <button
          [disabled]="!name && !category"
          (click)="searchByNameOrCategory()"
          class="btn btn-default ti-search"> Suchen</button>

        <button
          (click)="showAll()"
          class="btn btn-default ti-files"> Alle Rezepte anzeigen</button>

      </div>
    </form>
  </div>
</div>


<div class="row">
  <div *ngFor="let r of recipes" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <recipe-card
      [item]="r"
      [(selected)]="basket[r.id]">
    </recipe-card>
  </div>
</div>

