
<div class="card">
  <div class="header">
    <h2 class="title">Recipe Search</h2>
  </div>

  <div class="content">
    <form>
      <h5>Search for a Name or Category</h5>

      <div class="form-group">
        <label>Enter a Name: </label>
        <input id="input" [(ngModel)]="name" name="name" class="form-control">
      </div>

      <div class="form-group">
        <label>Enter a Category: </label>
        <input id="input" [(ngModel)]="category" name="category" class='form-control'>
      </div>

      <div class="form-group">
        <button
          [disabled]="!category"
          (click)="search()"
          class="btn btn-default">Search</button>  <!--" || !category"-->

        <button
          [disabled]="!name && !category"
          (click)="searchByNameOrCategory()"
          class="btn btn-default">Search long</button>

        <button
          (click)="showAll()"
          class="btn btn-default">Show all recipes</button>
      </div>
    </form>
  </div>
</div>


<div class="row">
  <div *ngFor="let r of recipes" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <recipe-card
      [item]="r"
      [(selected)]="basket[r.id]">
    </recipe-card>
  </div>
</div>

