
<div class="card">
  <div class="header">
    <h2 class="title">Recipe Search</h2>
  </div>

  <div class="content">
    <form>
      <div class="form-group">
        <label>Name: </label>
        <input [(ngModel)] = 'name' name ='name' class='form-control'>
      </div>
      <div class="form-group">
        <label>Category: </label>
        <input [(ngModel)]="category" name="category" class='form-control'>
      </div>

      <div class="form-group">
        <button
          [disabled]="!name || !category"
          (click)="search()"
          class="btn btn-default">Search</button>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <table class="table table-contensed" *ngIf="users.length > 0">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Category</th>
      <th>Ingredients</th>
      <th>Preparation</th>
      <th>User</th>
      <th></th>
    </tr>
    </thead>
    <tr *ngFor="let r of recipes.recipes"
        [class.active]="r === selectedRecipe">
      <td>{{r.id}}</td>
      <td>{{r.name }}</td>
      <td>{{r.cateogry | category:'category' }}</td>
      <td>{{r.ingredient }}</td>
      <td>{{r.preparation }}</td>
      <td>{{r.user }}</td>
      <td>
        <a
          (click)="select(r)">Select</a>
      </td>
    </tr>
  </table>
</div>

<div class="card">
  <div class="content">
    <pre>{{selectedRecipe | json }}</pre>
  </div>
</div>

<div *ngIf="selectedRecipe">
  <div>
    {{ message }}
  </div>
  <div class="form-group">
    <label>Id</label> <input [(ngModel)]="selectedRecipe.id" class="form-control">
  </div>
  <div class="form-group">
    <label>Name</label> <input [(ngModel)]="selectedRecipe.name" class="form-control">
  </div>
</div>


<div class="row">
  <div *ngFor="let r of recipes" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <recipe-card
      [item]="r"
      [(selected)]="basket[r.id]">
    </recipe-card>
  </div>
</div>


<div class="card">
  <div class="content">
    <a routerLink="./recipe-search">Recipe Search</a> |
    <a routerLink="./user-search">User Search</a>
  </div>
</div>

<router-outlet></router-outlet>

<div class="card">
  <div class="content">
    <pre>{{ basket | json }}</pre>
  </div>
</div>
